p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
input,
button {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
address {
  font-style: normal;
}
.container {
  max-width: 320px;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* -----------HEADER----------- */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  width: 1158px;
  padding: 0 15px 0 15px;
  margin: 0 auto;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-span {
  color: #2e2f42;
}

.navigation {
  color: #2e2f42;
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 16px;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
  position: relative;
  overflow: hidden;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation::after {
  position: absolute;
  content: "";
  display: block;
  bottom: -1px;
  left: 0;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation:hover,
.navigation:focus {
  color: #404bbf;
  text-decoration: none;
}

/* .navigation:active {
  color: #404bbf;
  transform: translateY(0%);
} */

/* .navigation:hover::after,
.navigation:focus::after {
  transform: translateY(0%);
} */

.contacts {
  font-style: normal;
}

.contacts .cont-link {
  color: #434455;
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts .cont-link:hover,
.contacts .cont-link:focus {
  color: #404bbf;
  text-decoration: none;
}

.header-menu-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.contacts {
  margin-left: auto;
  align-items: center;
}

.header-contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
/* ----------- SECTION ONE (MAIN)----------- */

.main-section {
  background-color: #2e2f42;
  padding-top: 72px;
  padding-bottom: 72px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/img1011.1.1.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-header {
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  width: 216px;
  margin: 0 auto;
  margin-bottom: 72px;
}

.button {
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  text-align: center;
  margin: 0 auto;
  min-height: 56px;
  min-width: 169px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  color: #ffffff;
  background-color: #404bbf;
}

/* ----------- SECTION TWO (FEATURES)----------- */

.features-section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.features-advantages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.features-item {
  width: 100%;
}

.features-item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4fd;
  height: 112px;
  margin-bottom: 8px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
}

.features-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.features-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ----------- SECTION THREE (TEAM)----------- */

.team-section {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}

.team-header {
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  border-block-start: 36px;
  margin-bottom: 72px;
}

.team-list-container {
  max-width: 264px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  gap: 72px;
}

.team-list {
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  box-shadow: 0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  width: 100%;
}

.team-info {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-members {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.team-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-description-social-icons-list {
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 24px;
  line-height: 0;
  max-width: 232px;
}

.team-description-social-icon {
  width: calc((100% - 3 * 24px) / 4);
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.social-icon {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon:hover,
.social-icon:focus {
  background-color: #404bbf;
}
.team-icon {
  fill: #f4f4fd;
}

/* ----------- SECTION FOUR (PORTFOLIO)----------- */

.portfolio-section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.portfolio-header {
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-offers {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-offers-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 48px;
  margin: 0 auto;
  max-width: 288px;
}

.portfolio-list {
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-container {
  position: relative;
  overflow: hidden;
}

.portfolio-list-container img {
  max-height: 280px;
}

.portfolio-list-text {
  top: 0;
  left: 0;
  padding: 40px 32px;
  position: absolute;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list:hover,
.portfolio-list:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  cursor: pointer;
}

.portfolio-list:hover .portfolio-list-text,
.portfolio-list:focus .portfolio-list-text {
  transform: translateY(0%);
}

.portfolio-info {
  width: 100%;
  padding-top: 32px;
  padding-bottom: 31px;
  padding-right: 6px;
  padding-left: 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/* FOOTER */

.footer {
  background-color: #2e2f42;
  padding: 96px 0;
  display: flex;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.footer-logo-container {
  width: 288px;
}

.footer-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: flex;
  width: 115px;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
  margin: 0 auto;
  margin-bottom: 16px;
}

.footer-logo-span {
  color: #f4f4fd;
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-social-container {
  display: block;
  margin: 0 auto;
}

.footer-social-icons-list {
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 16px;
  line-height: 0;
  max-width: 232px;
}

.footer-social-icon {
  width: calc((100% - 3 * 16px) / 4);
  border-radius: 50px;
  background-color: #4d5ae5;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.footer-social-text {
  width: 96px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 16px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-icon {
  fill: #f4f4fd;
}

.footer-subscribe-container {
  display: block;
}

.footer-subscribe-title {
  width: 75px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 16px;
}

.footer-subscribe-form {
  display: block;
}

.footer-subscribe-input {
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  outline: transparent;
  padding-left: 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-subscribe-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.footer-subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 4px;
  border: none;
  min-width: 165px;
  min-height: 40px;
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin: 0 auto;
}

.footer-subscribe-button-icon {
  width: 24px;
  height: 20px;
  fill: #fff;
  margin-left: 16px;
}
/* ---------MODAL--------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  pointer-events: 0;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 72px;
  padding-bottom: 24px;
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button {
  position: absolute;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  background-color: #e7e9fc;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-button:hover .modal-close-button-icon,
.modal-close-button:focus .modal-close-button-icon {
  fill: #ffffff;
}

.modal-close-button-icon {
  position: absolute;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

/* .modal-form {
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
} */

.modal-field {
  width: 100%;
  margin-bottom: 8px;
}

.input-container {
  position: relative;
}

.modal-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 38px;
  padding-right: 16px;
  outline: transparent;
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .input-icon {
  fill: #4d5ae5;
}

.modal-input-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  width: 18px;
  height: 18px;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .input-icon::after {
  position: absolute;
  content: "";
  top: 0px;
  right: -4px;
  width: 1.25px;
  height: 100%;
  background-color: #2e2f42;
  pointer-events: none;
} */

.comment-field {
  width: 100%;
  margin-bottom: 16px;
}

.modal-comment {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  min-height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px 16px;
  outline: transparent;
  resize: none;
}

.modal-comment:focus {
  border-color: #4d5ae5;
}

.modal-comment::placeholder {
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #2e2f42;
  opacity: 40%;
}

.modal-check-field {
  margin-bottom: 24px;
}

.modal-check-label {
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.user-privacy-link {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.modal-check-label-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  background-color: transparent;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .modal-check-label > .modal-check-label-icon {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-submit-button {
  display: block;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  min-width: 169px;
  min-height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* --------------768PX------------- */
@media screen and (min-width: 768px) {
  /* GENERAL */
  .container {
    max-width: 768px;
  }
  /* MAIN */
  .main-header {
    font-size: 56px;
    line-height: 1.08;
    width: 496px;
    margin-bottom: 36px;
  }
  .main-section {
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/img1011.jpg);
  }
  /* FEATURES */
  .features-advantages-list {
    gap: 72px 24px;
  }
  .features-item {
    width: calc((100% - 24px) / 2);
  }
  .features-header {
    line-height: 1.11;
    text-align: unset;
  }
  /* TEAM */
  .team-list-container {
    max-width: 552px;
    gap: 64px 24px;
  }
  .team-list {
    width: calc((100% - 24px) / 2);
  }
  /* PORTFOLIO */
  .portfolio-container {
    max-width: 736px;
    gap: 72px 24px;
  }
  .portfolio-list {
    width: calc((100% - 24px) / 2);
  }
  .portfolio-list-container img {
    max-height: unset;
  }
  /* FOOTER */
  .footer-container {
    align-items: baseline;
  }
  .footer-logo-container {
    max-width: 264px;
    margin-right: 24px;
  }
  .footer-logo {
    margin: unset;
    margin-bottom: 16px;
  }
  .footer-social-container {
    margin: unset;
    margin-right: 80px;
  }
  .footer-social-text {
    margin: unset;
    margin-bottom: 16px;
  }
  .footer-subscribe-title {
    margin: unset;
    margin-bottom: 16px;
  }
  .footer-subscribe-form {
    display: flex;
    gap: 24px;
  }
  .footer-subscribe-input {
    width: 264px;
    margin-bottom: unset;
  }
  .footer-subscribe-button {
    margin: unset;
  }
}

/* ---------------1440PX------------- */
@media screen and (min-width: 1158px) {
  /* GENERAL */
  .container {
    max-width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
  }
  /* MAIN */
  .main-section {
    padding-top: 188px;
    padding-bottom: 188px;
  }
  /* FEATURES */
  .features-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .features-advantages-list {
    gap: 24px;
  }
  .features-item {
    width: calc((100% - 3 * 24px) / 4);
  }
  .features-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  /* TEAM */
  .team-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .team-list-container {
    max-width: 1128px;
    gap: 24px;
  }
  .team-list {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
  /* PORTFOLIO */
  .portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .portfolio-container {
    max-width: 1128px;
    gap: 48px 24px;
  }
  .portfolio-list {
    width: calc((100% - 2 * 24px) / 3);
  }
  /* FOOTER */
  .footer {
    padding: 100px 0;
  }
  .footer-logo-container {
    margin-right: 120px;
    margin-bottom: unset;
  }
}
/* ----------NOT--------- */
@media not screen and (min-width: 768px) {
  /* FOOTER  */
  .footer-container {
    flex-direction: column;
    justify-content: center;
  }
}
@media not screen and (min-width: 1158px) {
  /* FEATURES */
  .features-item-icon {
    display: none;
  }
  .footer-container {
    gap: 72px;
  }
}
